.Filters {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-between;
  margin: 5px auto;
  width: 95vw;
}

.button-filter {
  background-color: #CC5803;
  border: none;
  min-width: 80px;
  flex-grow: 1;
}